.page-footer {
    background-color: $primaryColorBackground;
    margin: auto;
    &__wrapper {
        display: flex;
        flex-direction: column;
    }
    &__logo-container {
        padding-top: 60px;
        display: flex;
        justify-content: center ;
        margin-bottom: 20px;
    }
}
.contact-footer { 
    padding-bottom: 60px;
    &__address {
        font-family: $primaryFont;
        font-weight: $fontSmall;
        color: $fouthTextColor;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        margin-bottom: 8px;
        display: flex;
        justify-content: center;
    }
    &__link {
        font-family: $primaryFont;
        font-weight: $fontSmall;
        color: $fiveTextColor;
        display: flex;
        justify-content: center;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        text-decoration: none;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            color: $thirdTextColor;
        }
    }
}
.footer-social-media { 
margin-bottom: 60px;
&__header {
    font-family: $primaryFont;
    font-weight: $fontBold;
    color: $fouthTextColor;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
&__list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
&__item {
    margin-right: 10px;
    &--last {
        margin-right: 0px;
    }
} 
&__link {
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: $sixBackgroundColor;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: $fourthBackgroundColor;
    }
}
&__icon {
    fill: $fouthTextColor;
    padding: 12px;
}
}
.newsletter {
padding-bottom: 60px;
&__header {
    font-family: $primaryFont;
    font-weight: $fontBold;
    color: $fouthTextColor;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
&__wrapper {
    display: flex;
    flex-direction: column;
}
&__input {
    display: block;
    width: 450px;
    height: 50px;
    margin-left: 15px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;
    &:placeholder-shown {
        color: $fiveTextColor;
        padding: 15px 16px;
    }
    &:focus-within {
        background-color: $thirdBackgroundColor;
    }       
}
&__button {
    display: flex;
    justify-content: center;
    margin-left: 140px;
    background-color: $fourthBackgroundColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: $primaryFont;
    font-weight: $fontBold;
    color: $fouthTextColor;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    padding: 10px 24px 10px 42px;
    white-space: nowrap;
    border: none;
    border-radius: 4px;
    width: 200px;
    height: 50px;
}
&__icon {
    fill: $fouthTextColor; 
    margin-left: 24px;
    align-items: center;
 }
}
@media screen and (min-width: 768px) {
    .page-footer {
        &__wrapper {
            flex-direction: row;
            flex-wrap: wrap;
        }
        &__secondary-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 76px;
        }
        }
    .footer-social-media {
        padding-top: 65px;
        margin-bottom: 138px;
        margin-left: 144px;
    }
    .newsletter {
        padding-left: 166px;
    }     
  }