
.feature {  
display: none;
}
@media screen and (min-width: 1200px) {
    .feature { 
        display: block; 
        padding-bottom: 94px;
        padding-top: 94px;
        &__container {
            padding-left: 15px;
            padding-right: 15px;
        }
        &__header {
         font-family: $primaryFont;
         font-weight: $fontBold;
         color: $primaryTextColor;
         font-size: 36px;
         line-height: 1.17;
         letter-spacing: 0.03em;
         margin-top: 0px;
         margin-bottom: 50px;
         padding-left: 409px;
         padding-right: 409px;
         text-align: center;
         white-space: nowrap;
        }
        &__list {
            display: flex;
            list-style: none;
            padding-left: 0px;
            margin: 0px;
            position: relative;
        }
        &__item {
            margin-right: 30px;
            &--last {
                margin-right: 0px;
            }
        }
        &__title-container {
            position: absolute;
            top: 224px;
            width: 370px;
            height: 70px;
            background-color: $fiveBackgroundColor;
            padding: 27px 132px;
            z-index: 1;
            &--one {
                left: 0;
            }
            &--two {
                left: 400px;
            }
            &--three {
                left: 800px;
            }
        }
        &__description {
            font-family: $primaryFont;
            font-weight: $fontBold;
            color: $fouthTextColor;
            font-size: 14px;
            line-height: 1.14;
            text-align: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            margin: 0;
            white-space: nowrap;
        }
    } 
}