.backdrop {
    position: fixed;
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition-property: opacity;
    transition-duration: 2s;
}
.is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    transition-property: opacity;
    transition-duration: 2s;
}
.modal {
    visibility: visible;
    opacity: 1;
    position: relative;
    width: 450px;
    height: 609px;
    margin: auto;
    background-color: $thirdBackgroundColor;
    z-index: 2;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    &__button {
        display: block;
        margin-top: 8px;
        margin-left: 412px;
        width: 30px;
        height: 30px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        cursor: pointer;
        background-color: $thirdBackgroundColor; }
        &__title {
            display: block;
            padding-left: 40px;
            padding-right: 40px;
            text-align: center;
            font-family: $primaryFont;
            font-weight: $fontBold;
            color: $primaryTextColor;
            font-size: 20px;
            line-height: 1.5;
            letter-spacing: 0.03em;
            min-width: 370px;
            margin-top: 2px;
            margin-bottom: 12px;
        }
    }
.modal-form {
    &__title {
        display: block;
        font-family: $primaryFont;
        font-weight: $fontSmall;
        color: $secondaryTextColor;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        margin-bottom: 4px;
        padding-left: 40px;
    }
    &__container {
        position: relative;
        
    }
    &__icon {
        position: absolute;
        left: 55px;
        top: 14px;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        .modal-form__container:focus-within & {
            fill: $thirdTextColor;
            transition-property: fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
    &__input {
        display: block;
        margin: 0 40px;
        margin-bottom: 10px;
        width: 370px;
        height: 40px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        padding-left: 42px;
        transition-property: border-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .modal-form__container:focus-within & {
    border-color: $fourthBackgroundColor;
    outline-color: $fourthBackgroundColor;
    transition-property: border-color, outline-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
    }
    &__feedback {
        display: block;
        margin: 0 40px;
        margin-bottom: 20px;
        width: 370px;
        height: 120px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        padding: 16px 12px;
        transition-property: border-color outline-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        outline-color: none; 
        &:placeholder-shown {
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.01em;
            font-family: $primaryFont;
            font-weight: $fontSmall;
            color: $feedbackColor;
        }
        &:focus-within {
            border-color: $thirdTextColor;
            outline-color: $thirdTextColor;
            transition-property: border-color, outline-color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
    &__terms {
        position: relative;
        align-items: center;
        display: flex;
        }   
    &__terms-checkbox {
        display: block;
        position: absolute;
        left: 40px;
        cursor: pointer;
        opacity: 0;
        width: 0;
        height: 0;
    }
    &__terms-icon {
        display: block;
        position: absolute;
        left: 40px;
        background-color: $fourthBackgroundColor;
        fill: $fouthTextColor;
        border-radius: 2px;
        opacity: 0;
        transition-property: opacity;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        .modal-form__terms-checkbox:checked + & {
            opacity: 1;
            transition-property: opacity;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
    &__terms-title {
        font-family: $primaryFont;
        font-weight: $fontSmall;
        color: $secondaryTextColor;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        margin-left: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        width: 370px;
        height: 16px;
        &::before {
            content: "";
            display: inline-block;
            width: 16px;
            height: 15px;
            border: 1px solid $primaryTextColor;
            margin-right: 8px;}}
            &__button {
                display: block;
                width: 200px;
                height: 50px;
                margin: 0px 125px;
                margin-top: 31px;
                background-color: $fourthBackgroundColor;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                border-radius: 4px;
                border: none;
                padding: 10px 76px;
                font-family: $primaryFont;
                font-weight: $fontBold;
                color: $fouthTextColor;
                font-size: 16px;
                line-height: 1.87;
                letter-spacing: 0.06em;
                cursor: pointer;
            } }
@media screen and (min-width: 1200px) {
    .modal {
    width: 528px;
    height: 581px;
    &__button {
        margin-left: 490px;
    }
    &__title {
        display: flex;
        justify-content: center;
        min-width: 448px;
    } 
    }
    .modal-form {
     &__input {
        width: 448px;
     }
     &__feedback {
        width: 448px;
      &:placeholder-shown {
        font-size: 12px;
      }  
     } 
     &__terms-checkbox {
        left: 55px;
     }
     &__terms-icon {
        left: 55px;
     }
     &__terms-title {
        font-size: 14px;
        line-height: 1.71;
        margin-left: 55px;
        width: 419px;
        height: 24px;
     }
     &__button {
        margin: 0px 164px;
        margin-top: 30px;
     }
    }
}
            
    
    