
.personel {
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: $secondColorBackground;
    margin: auto;
    &__header {
        font-family: $primaryFont;
        font-weight: $fontBold;
        color: $primaryTextColor;
        font-size: 28px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        margin-top: 0px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        text-align: center;
        white-space: nowrap;
    }
        &__list {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0px;
    }
    &__name {
        font-family: $primaryFont;
        font-weight: $fontMedium;
        color: $primaryTextColor;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        margin-top: 30px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
    }
    &__position {
        font-family: $primaryFont;
        font-weight: $fontSmall;
        color: $secondaryTextColor;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 16px;
        margin-top: 0px;
        display: flex;
        justify-content: center;
        white-space: nowrap;
    }
    &__item {
        background-color: $thirdBackgroundColor;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        width: 450px;
        margin-bottom: 30px;
        &--last {
            margin-bottom: 0px;
        }
    }
    &__pictrue {
        display: block;
        width: 450px;
        height: 460px;
    }
    &__social-media {
        padding-left: 122px;
        padding-right: 122px;
        padding-bottom: 24px;
        white-space: nowrap;
        display: flex;
    }
    &__social-media-icon {
        fill: $iconColor;
        padding: 12px;
        &:hover,
        &:focus {
            fill: $fouthTextColor;
        }
    }
    &__social-media-link {
        display: flex;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        transition-property: background-color, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:focus,
        &:hover {
         background-color: $fourthBackgroundColor;
        }
        &--last {
            margin-right: 0px;
        }
    }
}
@media screen and (min-width: 768px) {
    .personel {
      &__list {
        flex-direction: row;
        flex-wrap: wrap;
          }
      &__item {
        width: 354px;
        margin-right: 30px;
       &--right {
        margin-right: 0px;
       }
       &--bottom {
        margin-bottom: 0px;
       }
       &--last {
        margin-bottom: 0px;
       }
      }
      &__pictrue {
        width: 100%;
        height: 354px;
      }    
      &__social-media {
        padding-left: 74px;
        padding-right: 74px;
      }
        }
}
@media screen and (min-width: 1200px) {
.personel {
    padding-bottom: 94px;
    padding-top: 94px;
    &__header {
        font-size: 36px;
        margin-bottom: 50px;
    }
    &__item {
        width: 270px;
        margin-bottom: 0px;
        margin-right: 30px;
        &--last {
            margin-right: 0px;
        }
    }
    &__pictrue {
        height: 260px;
    }
    &__social-media {
        padding-left: 32px;
        padding-right: 32px;
      }
} 
}
@media screen and (min-width: 1200px) {
    
}