.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    opacity: 0;
    background-color: $thirdBackgroundColor;
     &__list {
        list-style: none;
        margin: 0px;
        padding-left: 40px;
        padding-top: 8px;
        margin-bottom: 302px;
     }
     &__item {
        font-family: $primaryFont;
        font-weight: $fontMedium;
        color: $primaryTextColor;
        width: 219px;
        font-size: 40px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        margin-bottom: 32px;
        cursor: pointer;
        &--last {
            margin-bottom: 0px;
        }
        &:focus,
        &:hover {
            color: $thirdTextColor;
        }
     }
     &__link {
        text-decoration: none;
        color: inherit;
     }
    &__tel {
        text-decoration: none;
        color: $thirdTextColor;
        display: block;
        width: 267px;
        font-family: $primaryFont;
        font-weight: $fontMedium;
        font-size: 34px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        white-space: nowrap;
        margin-left: 40px;
        margin-bottom: 32px;
    } 
    &__mail {
        text-decoration: none;
        color: $secondaryTextColor;
        display: block;
        font-family: $primaryFont;
        font-weight: $fontMedium;
        width: 231px;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        margin-left: 40px;
        margin-bottom: 64px;
    }
    &__social-media {
        display: flex;
        list-style: none;
    }
    &__social-media-item {
        margin-right: 20px;
        &--last {
            margin-right: 0px;
        }
    }
    &__social-media-link {
        text-decoration: none;
        color: $thirdTextColor;
        font-family: $primaryFont;
        font-weight: $fontMedium;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
    }
}
.mobile-menu.is-open {
    transform: translateX(0);
    opacity: 1;
    transition: transform 250ms ease-in-out;
}
.mobile-menu-close {
   margin-left: 436px;
   margin-top: 21px;
   background-color: transparent;
   border: none;
   cursor: pointer;
   &:focus,
   &:hover {
    color: $thirdTextColor;
   }
}
